<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuling.spring.mapper.UserMapper">
<!--  <cache readOnly="false"></cache>-->
    <select id="selectByid2"  resultType="com.tuling.spring.model.User">
       select * from user where id=#{id}
   </select>
    <update id="updateByid2" parameterType="com.tuling.spring.model.User">
        update user set name=#{name} where id=#{id}
    </update>
    <insert id="insertUser" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
            parameterType="com.tuling.spring.model.User">
        insert into user (name ,createTime,updateTime) values (#{name},#{createTime},#{updateTime})
    </insert>
    <!--<select id="selectIds"-->
            <!--resultType="com.tuling.spring.model.User"-->
            <!--lang="org.mybatis.scripting.freemarker.FreeMarkerLanguageDriver">-->

        <!--select  * from user-->
       <!--where  id in(${ids?join(',')})-->

    <!--</select>-->

</mapper>